.Submit-button {
    height: 3.5vh;
    font-weight: bold;
    margin: 5px;
}

.Input-text-form {
    height: 3.5vh;
    margin: 5px;
}

.InputForm {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
